.price-card {
  font-family: "Roboto", sans-serif;
  border-radius: 32px;
  max-width: 400px;
  overflow: hidden;
  width: 300px;
  -webkit-box-shadow: 10px 13px 26px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px 13px 26px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 10px 13px 26px 0px rgba(0, 0, 0, 0.28);
  background: white;
  bottom: -500px;
  opacity: 0;
  transition-duration: 0.5s;
  position: relative;

  &.lite {
    transition-delay: 0.65s;
  }

  &.standard {
    transition-delay: 0.25s;
  }

  &.pro {
    transition-delay: 0.45s;
  }

  &.animate {
    bottom: 0;
    opacity: 1;
  }

  .top {
    background: linear-gradient(to bottom, #ff899d, #f7329c);
    padding: 36px 0;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parts {
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #877d88;
  }

  h4 {
    text-align: center;
    margin-bottom: 0;
  }

  .dollar-sign {
    font-size: 45px;
    color: #7e5dff;
    font-family: "Nunito", sans-serif;
  }

  .price {
    font-size: 85px;
    color: #7e5dff;
    text-align: center;
    font-family: "Nunito", sans-serif;
    line-height: 85px;
    margin-bottom: 0;
  }

  .per-month {
    text-align: center;
    display: block;
  }

  ul {
    list-style: none;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  li {
    position: relative;
  }

  li:before {
    content: url("../svgs/pricing/green-check.svg");
    position: absolute;
    left: -35px;
  }

  &.standard {
    background: linear-gradient(to bottom, #e38dee, #7a5bff);
    position: relative;
    overflow: visible;

    .top {
      background: transparent;
    }

    .price,
    .dollar-sign,
    .per-month {
      color: white;
    }

    li {
      color: white;
    }

    li:before {
      content: url("../svgs/pricing/white-check.svg");
    }

    &:before {
      content: url("../svgs/pricing/most-popular.svg");
      position: absolute;
      right: -18px;
      top: -14px;
    }
  }

  &.pro {
    .top {
      background: linear-gradient(to top, #fe6370, #f3c27e);
    }
  }

  .btn {
    width: 230px;
  }
}
