header {
  z-index: 99999;
  position: relative;
  padding: 25px 50px;
  position: fixed;
  width: 100vw;
  transition: background 0.5s;

  &.end-transparency {
    background: #ecf0f3;
  }

  .mainHeader {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0px;
  }

  #navbarBasicExample {
    align-items: center;
  }

  .logo {
    margin: 0;
  }

  .navbar-start {
    width: 35%;
    display: flex;
    justify-content: space-around;
  }

  .navbar-start a {
    font-size: 16px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
  }

  .btn {
    min-width: 200px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.16);
  }

  .btn.blue {
    -webkit-box-shadow: 0px 3px 12px 0px rgba(24, 124, 255, 0.27);
    -moz-box-shadow: 0px 3px 12px 0px rgba(24, 124, 255, 0.27);
    box-shadow: 0px 3px 12px 0px rgba(24, 124, 255, 0.27);
  }

  .btn.red {
    -webkit-box-shadow: 0px 3px 12px 0px rgba(225, 24, 24, 0.27);
    -moz-box-shadow: 0px 3px 12px 0px rgba(225, 24, 24, 0.27);
    box-shadow: 0px 3px 12px 0px rgba(225, 24, 24, 0.27);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .bm-burger-button,
  .bm-menu-wrap {
    display: none;
  }

  .navbar-item {
    color: #382153;
  }

  .default .logo.light {
    display: none;
  }

  .light .navbar-item {
    color: #fff;
    transition-duration: 0.25s;
  }

  .light .logo.light {
    position: absolute;
    transition-duration: 0.25s;
  }

  .light .logo.dark {
    opacity: 0;
    transition-duration: 0.25s;
  }

  &.end-transparency .light {
    .logo.light {
      opacity: 0;
    }
    .logo.dark {
      opacity: 1;
    }

    .navbar-item {
      color: #59486e;
    }
  }

  @media screen and (max-width: 1500px) {
    .navbar-start {
      width: 50%;
    }
  }

  @media screen and (max-width: 1224px) {
    .bm-burger-button,
    .bm-menu-wrap {
      display: initial;
    }

    .bm-item-list {
      padding-top: 50px;
    }

    .bm-item-list a {
      color: black;
      padding: 25px;
      border-left: 0;
      border-right: 0;
    }

    .mainHeader .navbar-burger .bm-cross {
      top: calc(50% - 3px);
      height: 20px !important;
    }

    .navbar-menu {
      display: none;
    }

    .bm-burger-button > span {
      position: fixed;
      right: 50px;
      top: 30px;
      height: 25px;
      width: 35px;
    }

    .bm-burger-button button {
      position: fixed !important;
      right: 50px;
      top: 40px !important;
      height: 25px !important;
      width: 35px !important;
      left: initial !important;
    }

    .bm-burger-bars {
      background: #707070;
    }

    .end-transparency .bm-burger-bars {
      background: #707070;
      height: 5px;
    }

    .bm-cross-button > span {
      height: 0 !important;
    }

    .bm-overlay {
      top: 0;
      left: 0;
    }

    .bm-menu-wrap,
    .navbar-burger:hover {
      top: 0;
      background: white !important;
    }

    #navbarBasicExample {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    background: #f0f2f4;
    padding: 10px 25px;

    .bm-burger-button > span {
      position: fixed;
      right: 25px;
      top: 20px;
    }

    .bm-burger-button button {
      position: fixed !important;
      right: 25px;
      top: 20px !important;
    }

    .light {
      .logo.light {
        opacity: 0;
      }
      .logo.dark {
        opacity: 1;
      }
    }
  }
}
