.resources-page {
  position: relative;
  h3 {
    font-size: 35px;
    color: #59486e;
  }

  h5 {
    font-size: 20px;
    color: white;
    line-height: 33px;
  }

  .container-1 {
    padding: 175px 50px;
  }

  .container-2 {
    margin-top: 50px;
  }

  .container-10 {
    overflow: hidden;
  }

  .category {
    padding: 15px;
    margin-top: 25px;
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .category:first-child {
    margin-left: 0;
  }

  .category span {
    font-family: "Roboto";
    font-size: 29px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;

    img {
      margin-bottom: 0;
      margin-right: 25px;
    }
  }

  .resource-content {
    .row {
      align-items: stretch;
    }
  }

  .purple-swish:before {
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTQwNS4zNCIgaGVpZ2h0PSI4MjcuODg2IiB2aWV3Qm94PSIwIDAgMTQwNS4zNCA4MjcuODg2Ij4NCiAgPGRlZnM+DQogICAgPGxpbmVhckdyYWRpZW50IGlkPSJsaW5lYXItZ3JhZGllbnQiIHgxPSIwLjk4NCIgeTE9IjAuMzI0IiB4Mj0iLTAuMDA5IiB5Mj0iMC44NDUiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94Ij4NCiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2UzOGRlZSIvPg0KICAgICAgPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjN2E1YmZmIi8+DQogICAgPC9saW5lYXJHcmFkaWVudD4NCiAgPC9kZWZzPg0KICA8ZyBpZD0iR3JvdXBfMzUwNiIgZGF0YS1uYW1lPSJHcm91cCAzNTA2IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMuNTIpIj4NCiAgICA8cGF0aCBpZD0iUGF0aF85MzgiIGRhdGEtbmFtZT0iUGF0aCA5MzgiIGQ9Ik0tMTc2MDkuMjc3LDc0MTkuMjYycy0xOTkuNjY2LDU5LjEzMy00NDcuNjM5LDE5LjYyLTI5OC43NzktNDEuNTYxLTUzOC4yMDUtNDYuODgxLTQxOS41LDM1LjYtNDE5LjUsMzUuNnYtODAzaDE0MDUuMzRaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxOTAyOC4xMzcgLTY2MjQuNikiIGZpbGw9InVybCgjbGluZWFyLWdyYWRpZW50KSIvPg0KICA8L2c+DQo8L3N2Zz4NCg==)
      no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0vw;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100vw;
    background-position: 50% -20vw;
  }

  .newsletter-card {
    background: linear-gradient(to bottom left, #e38dee, #7a5bff);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }
    &:before {
      content: "";
      background: url("../svgs/resources/blob.svg");
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      pointer-events: none;
    }

    form {
      position: relative;
    }

    input {
      border-radius: 29px;
      border: none;
      height: 44px;
      padding-left: 20px;
      width: 330px;
      &:focus {
        border: solid white 3px;
        outline: none;
      }
    }

    ::-webkit-input-placeholder {
      color: #877d88;
      opacity: 1;
      font-family: "Roboto";
    }

    button {
      background: white;
      border: none;
      border-radius: 0 29px 29px 0;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 44px;
      padding-right: 20px;
      img {
        margin-bottom: 0;
      }
      &:focus {
        outline: none;
        border-radius: 29px;
        box-shadow: 0 0 0 2pt #f30070;
      }
    }
  }

  .card {
    border-radius: 32px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    -webkit-box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    box-shadow: 10px 3px 26px 0px rgba(0, 0, 0, 0.28);
    h2 {
      font-size: 44px;
      color: white;
    }

    a {
      text-decoration: none;
    }

    h3 {
      display: -webkit-box;
      line-height: 45px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 500px;
    }
    .top-img {
      max-height: 250px;
      min-height: 250px;
      object-fit: cover;
      overflow: hidden;
      position: relative;
      img {
        overflow: hidden;
        border-radius: 32px;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
      }
    }
    .card-text {
      padding-top: 30px;
      padding-left: 50px;
      padding-right: 25px;
      position: relative;
    }
    .date {
      display: flex;
      img {
        margin-right: 25px;
      }
      p {
        font-family: "Segoe UI", sans-serif;
        font-size: 22px;
        font-weight: 600;
        color: #d2c6eb;
      }
    }

    &.blog .card-text:after {
      content: url("../svgs/resources/blog-cat.svg");
      position: absolute;
      right: -17px;
      top: -40px;
      z-index: 999;
      overflow: visible;
    }

    &.service-updates .card-text:after {
      content: url("../svgs/resources/update-cat.svg");
      position: absolute;
      right: -17px;
      top: -40px;
      z-index: 999;
      overflow: visible;
    }
  }

  .purple-container.animate {
    margin-top: 80px;
    margin-bottom: 100px;
  }

  .load-more.btn {
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 50px;
    a {
      margin-top: 15px;
    }
  }

  .flex-dir-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .input-els {
    select {
      background: #efeff4;
      border: solid 1.5px #dcdbe0;
      border-radius: 29px;
      padding: 10px 20px;
      width: 200px;
      font-family: Roboto, sans-serif;
      color: #382153;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: relative;

      &:focus {
        outline: none;
        border-radius: 29px;
        box-shadow: 0 0 0 2pt #18aeff;
      }
    }

    .select {
      position: relative;
      &:before {
        content: url("../svgs/resources/down-arrow.svg");
        position: absolute;
        height: 25px;
        width: 15px;
        z-index: 9;
        right: 15px;
        top: 11px;
        pointer-events: none;
      }
    }

    input {
      background: #e9e9ef;
      border-radius: 29px;
      color: #382153;
      border: solid #dcdbe0 1.5px;
      padding-left: 20px;
      width: 40%;
      color: #18aeff;
      font-family: Roboto, sans-serif;

      &:focus {
        outline: none;
        border-radius: 29px;
        box-shadow: 0 0 0 2pt #18aeff;
      }
    }
    ::-webkit-input-placeholder {
      color: #cac6cb;
      opacity: 1;
      font-family: "Roboto";
    }
  }

  .load-more-container {
    display: none;
    flex-wrap: wrap;
    .card:nth-child(1) {
      display: none;
    }
    .card:nth-child(2) {
      display: none;
    }
    .card:nth-child(3) {
      display: none;
    }
    .card:nth-child(4) {
      display: none;
    }
    .card:nth-child(5) {
      display: none;
    }
    .card {
      width: 31%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }

  @media screen and (max-width: 1500px) {
    .purple-swish:before {
      background-size: 100%;
      position: absolute;
      left: 0vw;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      width: 100vw;
      background-position: 50% -225px;
    }

    .category {
      padding: 15px;
      margin-top: 25px;
      width: 25%;
    }

    .flex-dir-row {
      width: 98%;
    }

    h1 {
      font-size: 72px;
    }

    .transform-scale-1x25 {
      transform: scale(1.1);
    }
  }

  @media screen and (max-width: 1300px) {
    .purple-swish:before {
      background-position: 50% -125px;
    }

    h1 {
      font-size: 68px;
    }

    .transform-scale-1x25 {
      transform: scale(1);
    }

    .newsletter-card {
      padding: 25px;
      text-align: center;
    }

    h3 {
      font-size: 35px;
    }

    .card .card-text {
      padding-top: 20px;
      padding-left: 25px;
      padding-right: 25px;
    }

    .card.two-thirds {
      width: 45%;
    }

    .card.one-third {
      width: 45%;
    }
  }

  @media screen and (max-width: 1224px) {
    .category {
      padding: 15px;
      margin-top: 25px;
      width: 43%;
      margin-left: 0;
    }

    .cat-btns {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 1200px) {
    h1 {
      font-size: 50px;
    }

    .transform-scale-1x25 {
      margin-left: 50px;
    }

    .purple-swish:before {
      background-position: 50% 0px;
    }
  }

  @media screen and (max-width: 1024px) {
    .purple-swish:before {
      background-position: 50% 0px;
      width: 120vw;
    }
  }

  @media screen and (max-width: 800px) {
    .purple-swish:before {
      background-position: 50% 0px;
      width: 150vw;
    }
  }

  @media screen and (max-width: 767px) {
    .container-1 {
      text-align: center;
    }

    .transform-scale-1x25 {
      margin-left: 0px;
    }

    h1 {
      font-size: 40px;
    }

    .purple-swish:before {
      background-position: 50% 0px;
      width: 250vw;
      height: 1000px;
    }

    .category {
      padding: 15px;
      margin-top: 25px;
      width: 100%;
      margin-left: 0;
    }

    .flex-dir-row {
      select,
      .select {
        width: 100%;
      }

      .select {
        margin-top: 25px;
      }

      input {
        margin-top: 25px;
        width: 100%;
        height: 49px;
      }
    }

    .card.two-thirds {
      width: 100%;
    }

    .card.one-third {
      width: 100%;
    }

    .purple-container {
      flex-direction: column;
      text-align: center;
      .right-side {
        margin-top: 25px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .container-1 {
      text-align: center;
      padding: 100px 50px 100px;
    }

    h1 {
      font-size: 40px;
    }

    .purple-swish:before {
      background-position: 50% 0px;
      width: 330vw;
      height: 1000px;
    }
  }
}
